#container-instructions {
  background: url("../img/fundoInstructions.svg") no-repeat no-repeat 100% /
    clamp(25rem, 45vw, 50rem);
  background-attachment: scroll;
}

.text-main.instructions {
  width: 30%;
}

.text-main.instructions h1 {
  color: #ffffff;
}

.text-main.instructions p {
  font-size: clamp(1rem, 1vw, 2rem);
  line-height: clamp(2rem, 4.5vh, 2.5rem);
}
